.query-table .p-datatable-scrollable,
.dashboard-table .p-datatable-scrollable {
    overflow-x: scroll;
}

.query-table .p-datatable-wrapper {
    height: 250px;
    width: 100%
}

.dashboard-table .p-datatable-wrapper {
    height: 370px;
    width: 100%
}

.query-table .p-paginator,
.dashboard-table .p-paginator {
    border-width: 0 !important;
}

.query-table .p-paginator-page,
.dashboard-table .p-paginator-page {
    font-size: 12px;
}

.query-table .p-datatable-tbody td,
.query-table .p-datatable-thead th,
.dashboard-table .p-datatable-tbody td,
.dashboard-table .p-datatable-thead th {
    white-space: nowrap;
    padding: 8px 20px !important;
    font-size: 12px;
}

.dashboard-column .p-inputtext {
    height: 1.5rem;
    font-size: 12px;
    padding: 4px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 0;
}

.p-column-filter-row .p-column-filter-clear-button {
    display: none;
}

.p-input-icon-left, .p-input-icon-right {
    width: 100%;
}

.p-input-icon-left > .p-inputtext {
    font-size: 12px;
    width: 100%;
    border: none;
    padding: 10px;
}

.p-inputtext:enabled:focus {
    box-shadow: none !important;
}

.p-paginator {
    justify-content: right !important;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last,
.p-paginator .p-paginator-pages .p-paginator-page{
    min-width: 1rem !important;
    height: 1rem !important;
}

.recentQueryCard {
    padding: 10px!important;
}

.recentQueryCard  .MuiCardHeader-action {
    margin-top: 2px;
    margin-right: -4px;
}

.recentQueryCard  .MuiCardHeader-action,
.recentQueryCard  .MuiCardHeader-subheader {
    font-size: 11px;
}

.display-object div {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    max-height: 100%;
    display: block;
    white-space: nowrap;
    cursor: pointer;
  }
  
  /* Optional: Tooltip styles */
  .display-object .tooltip::before {
    content: attr(title);
    position: absolute;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: pre-wrap;
    z-index: 1;
  }
  
  .display-object .tooltip:hover::before {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .schemaDiag {
    width: 500px;
    height: 500px;
    margin-left: 10%;
  }

  .mainContent {
    margin-top: auto;
    padding-top: 60px;
  }
